### History files
.Rhistory
.Rapp.history

### Example code in package build process
*-Ex.R

### R data files from past sessions
.Rdata

### Hidden files
.DS_Store

#-- Current DB versions
#-- this should be changed for every new release
COMPADRE_v.5.0.0*.RData
COMADRE_v.3.0.0*.RData
#-- Supplemented data (extra metadata)
/DBVersionsSupplemented/*.RData
/DBVersionsSupplemented/*.csv
/DBVersionsSupplemented/*.xlsx
/DBVersionsSupplemented/*/*.csv



