### History files
.Rhistory
.Rapp.history

### Example code in package build process
*-Ex.R

### R data files from past sessions
.Rdata

### Hidden files
.DS_Store

#-- Supplemented data (extra metadata)
/DBVersionsSupplemented/
!*.md

#-- Current DB versions
#-- this should be changed for every new release
compadre_v.5.0.0*.Rdata
comadre_v.3.0.0*.Rdata