### History files
.Rhistory
.Rapp.history

### Example code in package build process
*-Ex.R

### R data files from past sessions
.Rdata

### Hidden files
.DS_Store

### Data that shouldn't be open to public
#-- Processed data
/DBVersionsClean/*.Rdata
#-- Current DB versions
#-- this should be changed for every new release
/DBVersionsCurrent/
#-- Personal project data
/DBVersionsProjects/
#-- Supplemented data (extra metadata)
/DBVersionsSupplemented/


